<template name="omAccountsAddUser">
  <h1>Add User</h1>
  <div id="alert" class="alert alert-success omAccountManager-hide" role="alert">...</div>
  <form>
    <div class="form-group">
      <label class="control-label" for="name">Name</label>
      <input type="name" class="form-control" id="name" placeholder="Name (first last)">
    </div>
    <div class="form-group">
      <label class="control-label" for="email">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="Email">
    </div>
    <div class="form-group">
      <label class="control-label" for="password">Password</label>
      <input type="text" class="form-control" id="password" placeholder="Password">
    </div>

    <fieldset>
      <legend>Roles</legend>
      <div class="checkbox">
        {{#each roles}}
          {{> omAccountsAddUserRoles}}
        {{/each}}
      </div>
    </fieldset>

    {{#if hasGroups}}
      <fieldset>
        <legend>Groups</legend>
        <div class="checkbox">
          <label>
            <input type="checkbox" id="global" value="global">
            <b>Global:</b> access to all current and future groups
          </label>
        </div>
        <div id="groups">
          {{#each groups}}
            {{> omAccountsAddUserGroups}}
          {{/each}}
        </div>
      </fieldset>
    {{else}}
      <p>No groups configured</p>
    {{/if}}

    <button type="submit" id="saveUser" class="btn btn-default">Save</button>
  </form>
</template>

<template name="omAccountsAddUserRoles">
  <div id="{{role}}Container">
    <label class="control-label" for="{{role}}" aria-described-by="{{role}}Help">
      <input type="checkbox" id="{{role}}Role">
      {{label}}
    </label>
  </div>
  <span id="{{role}}Help" class="help-block">
    {{helpText}}
  </span>
</template>

<template name="omAccountsAddUserGroups">
  <div class="checkbox">
    <label>
      <input type="checkbox" value="{{this}}">
      {{this}}
    </label>
  </div>
</template>
