<template name="omAccountsUsers">
  <div class="list-group">
  {{#each users}}
    {{> omAccountsUsersUser }}
  {{/each}}
  </div>
</template>

<template name="omAccountsUsersUser">
  <a href="{{pathFor ../editUserRoute _id=_id}}" class="list-group-item">
    <div class="row">
      <div class="col-md-6">
        <b>{{profile.name}}</b>
      </div>

      <div class="col-md-6" style="text-align:right">
        {{#each cleanRoles cachedRoles}}
          <span class="label label-primary">{{roleLabel this}}</span>
        {{/each}}

        {{#if displayGroups cachedGroups}}
          {{#each cleanGroups cachedGroups}}
            <span class="label label-default">{{this}}</span>
          {{/each}}
        {{/if}}
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        {{#each emails}}
          {{this.address}}
        {{/each}}
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        {{#if active}}
          <span class="label label-success">Active</span>
        {{else}}
          <span class="label label-default">Inactive</span>
        {{/if}}
      </div>
    </div>
  </a>
</template>
